* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    background-image: url(https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?cs=srgb&dl=pexels-aleksandar-pasaric-1323712.jpg&fm=jpg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

/* Navigation bar */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
    height: auto;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 1.5em;
    font-weight: lighter;
    font-size: larger;
    transition: all .5s ease;
}

header {
    background-color: deepskyblue;
    overflow: hidden;
    width: 100%;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav img {
    display: inline-block;
    height: auto;
    width: auto;
}

nav ul li a:hover {
    color: #000;
    background: #fff;
}

/* Main Content */
main {
    display: block;
    min-height: 100%;
}

.shop h2 {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: antiquewhite;
    height: 100%;
    padding: 10px 0;
}

.product-container {
    display: flex;
    align-self: start;
    justify-content: center;
    background-color: #F8F5F3;
    height: 45vh;
    width: 100%;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product a {
    text-align: center;
    text-decoration: none;
    color: #000;
    margin: 5%;
}

.product img {
    display: flex;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transition: all 0.5s ease;
}

.product img:hover {
    width: 70%;
    height: 70%;
}

.product span{
    font-weight: lighter;
    font-size: larger;
}

/* Footer */
footer {
    background-color: #222222; 
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.social-media {
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
    width: 20%;
}

.social-icon {
    color: #cccccc;
    text-decoration: none;
    transition: color 0.2s;
    padding: 0 2%;
}

.social-icon:hover {
    color: #ffffff;
}

.copyright {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1em;
    padding-right: 5%;
}

.lazy {
    display: flex;
    flex-direction: column;
    justify-self: end;
}

.lazy a {
    padding-right: 10px;
    color: #cccccc;
    transition: color;
}

.lazy a:hover {
    color: #ffffff;
}











