* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    background: linear-gradient(#ffd89b , #19547b);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

/* Navigation bar */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
    height: auto;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 1.5em;
    font-weight: lighter;
    font-size: larger;
    transition: all .5s ease;
}

header {
    background-color: deepskyblue;
    overflow: hidden;
    width: 100%;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav img {
    display: inline-block;
    height: auto;
    width: auto;
}

nav ul li a:hover {
    color: #000;
    background: #fff;
}

/* Main Content */
main{
    padding: 2% 5% 2% 5%;
}

.product{
    width: 100%;
    height: 350px;
}

#thumbnail{
    height: 300px;
    width: 300px;
    float: left;
    padding-right: 5%;
}

#name{
    font-size: 2em;
    font-weight: bolder;
    padding-bottom: 20px;
}

#pricetag{
    color: #ee4d2d;
    font-weight: bold;
    font-size: 4em;
}

.product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

#addcart{
    width: auto;
    height: auto;
    color: white;
    background-color: #ee4d2d;
    font-size: 2em;
    border-radius: 100px;
    font-weight: bolder;
    padding: 1% 5% ;
    border: none;
    cursor: pointer;
    transition: color 0.5s;
}

#addcart:hover {
    background-color: #444444;
}

#back{
    float: right;
    width: auto;
    height: auto;
    color: deepskyblue;
    background-color: white;
    font-size: 1em;
    border-radius: 100px;
    text-decoration: none;
    padding: 1% 2%;
    border: 2px solid deepskyblue;
    cursor: pointer;
    transition: 0.3s;
}

#back:hover {
    background-color: deepskyblue;
    color: white;
}

.title{
    background: #F8F5F3;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
    text-transform: capitalize;
}

.content{
    padding: 0 2em;
    padding-bottom: 4em;
    white-space: pre-line;
    color: black;
    font-size: 1rem;
    line-height: 1.7;
    background-color: white;
}
    
/* Footer */
footer {
    background-color: #222222; 
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.social-media {
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
    width: 20%;
}

.social-icon {
    color: #cccccc;
    text-decoration: none;
    transition: color 0.2s;
    padding: 0 2%;
}

.social-icon:hover {
    color: #ffffff;
}

.copyright {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1em;
    padding-right: 5%;
}

.lazy {
    display: flex;
    flex-direction: column;
    justify-self: end;
}

.lazy a {
    padding-right: 10px;
    color: #cccccc;
    transition: color;
}

.lazy a:hover {
    color: #ffffff;
}